/*TODO================ RESET STYLE START =================*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*TODO================ RESET STYLE END =================*/
/*TODO================ COMMON STYLE START =================*/
*,
::before,
::after {
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
	font-size: 10px;
}
:root {
	--light: #fff;
	--dark: #000;
	--theme-color: #f7941d;
	--theme-color-2: #198754;
}
body {
	font-size: 1.4rem;
	background-color: var(--light);
	color: var(--dark);
	font-family: Roboto, sans-serif;
}
h1 {
	font-size: 4rem;
	margin: 20px 0 10px;
	font-weight: bold;
}
a,
::before,
::after {
	display: inline-flex;
	text-decoration: none;
	color: inherit;
}
input,
select,
textarea,
button {
	font: inherit;
	color: inherit;
}
button {
	cursor: pointer;
}
.icons-theme-1 {
	font-size: 1.6rem;
}
.btn-common {
	background: transparent;
	padding: 7px;
	min-width: 70px;
	border-radius: 20px;
	border: 2px solid;
	transition: 0.3s;
}
/*TODO================ COMMON STYLE END =================*/
/*TODO================ CAR-LIST START =================*/
.car-list.row-cols-2 .card-img-wrap,
.car-list.row-cols-2 .card-body-wrap {
	width: 95%;
	display: flex;
	justify-content: space-between;
}
.car-list.row-cols-2 .card__fuel {
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
	width: 80%;
}
.car-list.row-cols-2 .card-body-wrap .card-body {
	padding-left: inherit;
}
.card-img {
	width: 100%;
	height: 220px;
	object-fit: cover;
}
.vip__card-wrap {
	position: absolute;
	top: 0;
	left: 10px;
	color: var(--light);
	font-style: italic;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card__vip {
	background-color: var(--theme-color-2);
	position: relative;
	width: 30px;
	height: 55px;
	font-size: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 5px;
}
.card__vip::before {
	content: "";
	display: block;
	position: absolute;
	top: 100%;
	border-left: 15px solid var(--theme-color-2);
	border-right: 15px solid var(--theme-color-2);
	border-bottom: 14px solid transparent;
}
.card-title {
	font-size: 1.6rem;
	text-decoration: none;
	border-bottom: 1px solid transparent;
	transition: 0.3s;
	line-height: 1;
	display: inline-flex;
	color: #007bd4;
}
.card-title:hover {
	border-bottom: 1px solid;
	padding: 0;
}
.card__properties {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 5px;
}
.card__property {
	display: flex;
	align-items: center;
	font-weight: bold;
}
.card__properties li {
	margin-bottom: 10px;
	width: 50%;
}
.card__property i {
	color: var(--theme-color);
	margin-right: 7px;
}
._icon-vin.card__vin::before {
	margin-right: 14px;
	color: var(--light);
}
.card__vin {
	padding: 10px;
	display: flex;
	align-items: center;
	border: 1px solid var(--theme-color);
	border-radius: 5px;
	padding: 7px;
	display: inline-flex;
	background: linear-gradient(
		to right,
		var(--theme-color) 0,
		var(--theme-color) 28px,
		#efe8e8c4 28px,
		#efe8e8c4 100%
	);
	margin-bottom: 10px;
}
.card__title {
	font-weight: 700;
	text-decoration: underline;
	margin-bottom: 10px;
}
.card__fuel {
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
	width: 55%;
}
.card__fuel i {
	display: flex;
	align-items: center;
	font-weight: bold;
}
.card__fuel i::before {
	font-size: 1.6rem;
	font-weight: normal;
	margin-right: 7px;
	color: var(--theme-color);
}
.card-body {
	padding-left: 25px;
}
.top-bar {
	padding: 1rem 0;
	position: sticky;
	top: 0;
	align-items: center;
	background-color: #fff;
	z-index: 99;
}
.car-price {
	font-size: 2.2rem;
	font-weight: 600;
	margin-bottom: 5px;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}
.card__lbox {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.car-price::after {
	content: attr(data-euro) "€";
	color: #aeaeae;
	font-size: 1.4rem;
	font-weight: normal;
	display: inline-block;
	margin-top: 5px;
	text-align: right;
}
.label {
	font-size: 1.2rem;
	border: 1px solid #dadada;
	border-radius: 4px;
	padding: 3px 6px;
	display: inline-flex;
}
.card__labels {
	margin-bottom: 7px;
}
.views,
.date {
	color: #aeaeae;
	font-size: 1.2rem;
	margin-bottom: 5px;
}
.card__interaction {
	display: flex;
	align-items: center;
}
.card__interaction i {
	font-size: 3rem;
}
.card__interaction ._icon-compare {
	font-size: 3.5rem;
}
.card__interaction button {
	background-color: transparent;
	border: none;
}
.card__interaction button,
.card__interaction a {
	padding: 5px 10px;
	color: #dadada;
	transition: 0.3s;
}

.card__interaction button:hover,
.card__interaction a:hover,
.card__interaction a:focus {
	color: var(--theme-color);
}
.card__btn-interaction.active {
	animation: pulsing 2s forwards;
}
@keyframes pulsing {
	0% {
		transform: scale(1, 1);
	}
	25% {
		transform: scale(0.7, 0.7);
		color: #dadada;
	}
	50% {
		transform: scale(1.2, 1.2);
		color: var(--theme-color);
	}
	100% {
		transform: scale(1, 1);
		color: var(--theme-color);
	}
}
.card__saler {
	margin-bottom: 5px;
	font-weight: 700;
}
.card__saler i {
	margin-right: 5px;
	color: var(--theme-color-2);
}
.content__sort {
	appearance: none;
	padding: 5px 8px;
	width: 35%;
	font-family: inherit;
	font-size: 15px;
	box-shadow: none;
}
/*TODO================ CAR-LIST END =================*/
/*TODO================ Search start =================*/
.content__search {
	position: relative;
	font-size: 15px;
	display: flex;
	align-items: center;
	width: 12%;
	margin-left: auto;
	margin-right: 10px;
	transition: 0.4s;
}
.content__input {
	outline: none;
	border: 1px solid #ced4da;
	border-radius: 15px;
	transition: 0.3s;
	padding: 5px 5px 5px 31px;
	width: 100%;
}
.content__btn {
	border: none;
	background: transparent;
	color: var(--theme-color-2);
	position: absolute;
	transition: 0.3s;
	left: 3px;
	display: flex;
	align-items: center;
	outline: none;
}
.content__input[type="search"]::-webkit-search-cancel-button {
	display: none;
}
.content__search:focus-within {
	width: 35%;
}
.content__search:focus-within .content__input,
.content__search:hover .content__input {
	border-color: var(--theme-color);
}
.content__search:focus-within .content__btn,
.content__search:hover .content__btn {
	color: var(--theme-color);
}
.content__search:focus-within .content__input {
	box-shadow: 0 0 10px #f7951d7a;
}
/*TODO================ Search end =================*/
/*TODO================ Filter start =================*/
.filter {
	position: sticky;
	top: 0;
	overflow: auto;
	max-height: 100vh;
	padding: 10px 0;
}
.filter__checkbox {
	visibility: hidden;
	width: 0;
	height: 0;
	position: relative;
}
.filter__checkbox:checked + span {
	color: #198754c7;
}
.filter__checkbox:checked + span {
	font-weight: bold;
	text-decoration: underline;
	text-align: left;
	margin-left: auto;
}

.filter__checkbox + span {
	height: 30px;
	display: flex;
	align-items: center;
	transition: 0.4s;
	width: 50%;
	justify-content: center;
}
.filter__legend {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	cursor: pointer;
}
.filter__legend i {
	font-size: 16px;
	margin-left: 5px;
	transition: 0.4s;
	opacity: 0.5;
}
.filter__fildset.active .filter__legend i {
	transform: rotate(90deg);
	opacity: 1;
}
.filter__label {
	cursor: pointer;
}
.filter__label:hover span {
	color: #198754c7;
}
.inputs-list-wrap {
	height: 0;
	overflow: hidden;
	max-height: 250px;
	transition: height 0.4s;
}
.inputs-list {
	background: linear-gradient(
		90deg,
		transparent 49%,
		rgba(191, 191, 191, 1) 50%,
		transparent 51%
	);
	max-height: 200px;
	overflow: auto;
}
.filter__btn-wrap {
	display: flex;
	justify-content: center;
}
.btn-common[type="reset"] {
	color: #007bd4;
	border-color: #007bd4;
}
.btn-common[type="submit"] {
	color: var(--theme-color-2);
	border-color: var(--theme-color-2);
	margin-right: 10px;
}
.btn-common:hover {
	color: var(--light);
}
.btn-common[type="reset"]:hover {
	background-color: #007bd4;
}
.btn-common[type="submit"]:hover {
	background-color: var(--theme-color-2);
}
/*TODO================ Filter end =================*/
